* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Makes the page background light blue */
body {
    background-color: #ace7df;
}
/* Set my header with margins, my prefered text, and a different background color */
.header {
    padding: 15px;
    font-family: monospace;
    background-color: #343636;
    color: #ace7df;
    margin: 20px 20px;
}
/* sets the title of the header to a specific size with a content box */
.header h1 {
    display: inline-block;
    font-size: 36px;
    width: 500px;
    height: 80px;
    margin: 0 0 0 25px;
    box-sizing: content-box;
}
/* sets the list items to the right of the page away from the header */
.header div {
    float: right;
}
/* deletes the bullet points in front of the list items */
.header div ul {
    list-style-type: none;
}
/* spaces the list items appropriately */
.header div ul li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
/* sets the list items in the header to my prefered font specifications with a margin */
a {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: #ace7df;
    font-size: 18px;
    margin: auto;
}
/* creates a border around the list items */
.header div ul li a {
    padding: 3px;
    border-color: #ace7df;
    border: solid;
}
/* changes the background and text when you hover over each item */
.header div ul li a:hover {
    background-color: #ace7df;
    color: #343636;
}
/* sets the area with my picture and welcoming message to be a box with appropriate centering */
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    justify-content: space-between;
    border: solid #343636;
    margin: 20px;
}
/* creates a border around the selfie image */
.intro img {
    display: inline-block;
    max-width: 250px;
    max-height: 600px;
    margin: 20px;
    width: 33%;
    border: solid #343636;
}
/* sets the welcoming message to the preferred text specifications and positioning */
.intro p {
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    justify-content: space-between;
    position: relative;
    float: right;
    font-family: monospace;
    font-size: 48px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}
/* sets up the image for my about-me and displays it all properly to be centered */
.about-me {
    display: block;
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url("../images/pennsylvania.jpg");
    background-size: cover;
    background-position: center;
    border: solid #343636;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
/* hides the text when not hovering */
.about-me p{
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 100px;
    color: #ace7df;
}
/* transitions a black box inward to easily see text when hovering */
.about-me:hover {
    box-shadow: 0 0 0 200px inset;
}
/* shows the text when hovering */
.about-me:hover p{
    opacity: 1;
    transform: scale(1);
}

.work {
    display: block;
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
    border: solid #343636;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.work p{
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 100px;
    color: #ace7df;
}

.work:hover {
    box-shadow: 0 0 0 200px inset;
}

.work:hover p{
    opacity: 1;
    transform: scale(1);
}

.resume {
    display: block;
    height: 300px;
    width: 500px;
    margin: auto;
    background-image: url("../images/resume.jpg");
    background-size: cover;
    background-position: center;
    border: solid #343636;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.resume p{
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 100px;
    color: #ace7df;
}

.resume:hover {
    box-shadow: 0 0 0 200px inset;
}

.resume:hover p{
    opacity: 1;
    transform: scale(1);
}
/* aligns the footer text and sets it to my preferred text specifications */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #1b1b1b;
    color: #ace7df;
    margin: 20px 20px;
    font-family: monospace;
}
/* enlarges the header to fit the list items on smaller screens */
@media screen and (max-width: 992px) {
    .header {
        height: 170px;
    }
}
