* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ace7df;
}

.header {
    font-family: monospace;
    margin: auto;
    position: relative;
    text-align: center;
    color: #343636;
    font-size: 50px;
}

a {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: #ace7df;
    font-size: 18px;
    margin: auto;
}

.github {
    display: block;
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url("../images/github.jpg");
    background-size: cover;
    background-position: center;
    border: solid #343636;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.github p{
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
    font-size: 100px;
    color: #ace7df;
}

.github:hover {
    box-shadow: 0 0 0 200px inset;
}

.github:hover p{
    opacity: 1;
    transform: scale(1);
}